<!DOCTYPE html>
<html>

<head>
    <title>ACID model for weaning failure prediction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .prediction-container {
            margin-top: 50px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 10;
            width: 100%;
            background-color: #f8f9fa;
            color: grey;
            text-align: center;
        }

        .footer .footer-content {
            margin: auto;
            max-width: 600px;
            display: flex;
            align-items: center;
        }

        .footer img {
            width: 50px;
            height: 50px;
            margin-right: 15px;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center">The ACID model for weaning failure prediction</h2>
        <p class="text-center">Enter patient data:</p>
        <form action="{{ url_for('predict')}}" method="post" class="mx-auto" style="max-width: 600px;">
            <div class="row mb-3">
                <div class="col-sm-6 col-md-6">
                    <input type="number" class="form-control" step="0.01" name="ie" placeholder="I:E ratio"
                        required="required" value="{{ ie }}" />
                </div>
                <label class="col-sm-6 col-md-6 align-self-center">I:E (e.g. 0.5)</label>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6 col-md-6">
                    <input type="number" class="form-control" step="0.01" name="pfratio" placeholder="P/F Ratio"
                        required="required" value="{{ pfratio }}" />
                </div>
                <label class="col-sm-6 col-md-6 align-self-center">P/F ratio (e.g. 150)</label>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6 col-md-6">
                    <input type="number" class="form-control" step="0.01" name="petco2paco2"
                        placeholder="PetCO&#8322;/PaCO&#8322;" required="required" value="{{ petco2paco2 }}" />
                </div>
                <label class="col-sm-6 col-md-6 align-self-center">PetCO<sub>2</sub>/PaCO<sub>2</sub> (e.g. 0.8)</label>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6 col-md-6">
                    <input type="number" class="form-control" step="0.01" name="hbmin" placeholder="Lowest Hb (mmol/L)"
                        required="required" value="{{ hbmin }}" />
                </div>
                <label class="col-sm-6 col-md-6 align-self-center">Lowest Hb (mmol/L) measured in the last 48h</label>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6 col-md-6">
                    <input type="number" class="form-control" step="0.01" name="mechanical_power"
                        placeholder="Mechanical Power (J/min)" required="required" value="{{ mechanical_power }}" />
                </div>
                <label class="col-sm-6 col-md-6 align-self-center">Mechanical Power (J/min)</label>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6 col-md-6">
                    <input type="number" class="form-control" step="0.01" name="body_height"
                        placeholder="Patient Height (cm)" required="required" value="{{ body_height }}" />
                </div>
                <label class="col-sm-6 col-md-6 align-self-center">Patient height (cm)</label>
            </div>

            <p class="mt-3">Select gender:</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="male" value="1">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline mb-3">
                <input class="form-check-input" type="radio" name="gender" id="female" value="0">
                <label class="form-check-label" for="female">Female</label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block btn-large mt-3">Predict Weaning Failure</button>
        </form>
    </div>

    <!-- Prediction Box -->
    <div class="container mt-5">
        <div id="prediction_box" class="alert alert-{{ result_class }} mx-auto" style="max-width: 600px;" role="alert">
            {{ prediction_text }}
        </div>
    </div>

    <!-- Accordion -->
    <div class="container mx-auto" style="max-width: 600px;">
        <div class="accordion" id="infoAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        About this model
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#infoAccordion">
                    <div class="accordion-body">
                        This model is intended for demonstration purposes only and should not be used as a decision-making tool for patient care. Please note that it is not certified according to the German Medical Devices Act and therefore, is not intended for diagnosis, prevention, monitoring, prediction, prognosis, treatment or alleviation of disease.
                        The algorithm used by this model is based on a predictive model developed for the European Society of Intensive Care Medicine (ESICM) datathon.
                        For more detailed information, please refer to the <a href="https://tinyurl.com/2cnx6ke6" target="_blank">published abstract</a>. The source code of this model is available on <a href="https://github.com/jangoertzen/ESICM-Webapp" target="_blank">GitHub</a>.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Pearls and Pitfalls
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#infoAccordion">
                    <div class="accordion-body">
                        The ACID model was trained using the Extra Trees Classifier algorithm on data from the AmsterdamUMCdb, a large medical database. It may provide information on the likelihood of weaning failure (reintubation within 24 hours after extubation) in ICU patients.
                        The following restrictions apply:
                         - The model was only trained on adult, pressure controlled ventilated patients.
                         - The model performs poorly when one or more of the parameters are missing.
                         - The model may throw errors if the input fields are filled out with unexpected values.
                        Here are some details about model performance: Accuracy 0.98; recall 0.83; f1-Score 0.89; Precision 0.95, MCC 0.88
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer-content">
            <img src="{{ url_for('static', filename='21w0mgf.bmp') }}"" alt=" ESICM Datathon 2023 Logo">
            <p>For demonstration purposes only. Finalist of the 5th ESICM datathon 2023. Data are subject to change.
                Research is not yet published or peer reviewed and using this model in patient care is strongly
                discouraged.</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>